* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

main > *:nth-child(1) {
	background-color: salmon;
}

main > *:nth-child(2) {
	background-color: steelblue;
}

main > *:nth-child(3) {
	background-color: khaki;
}
