.container {
  display: grid;
  grid-template-column: 1fr auto 1fr;
  overflow: hidden;
  height: 100vh;
}

header,
footer {
  height: 50px;
  background-color: salmon;
  display: flex;
  align-items: center;
  width: 100%;
}

main {
  flex: 1;
  background-color: steelblue;
  height: calc(100vh - 100px);
  width: 100%;
  overflow: scroll;
}
